.navbar__container {
    width: 100%;
    height: 60px;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.navbar__container_dark {
    width: 100%;
    height: 60px;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar__title {
    width: 80%;
    text-align: center;
}
.navbar__switch {
    width: 20%;
    display: flex;
    align-items: center;
}

.navbar__switch img {
    max-width: 20px;
}
